<template>
  <div class="my-3 mx-4">
    <div class="card text-center">
      <div class="card-header">
        <h4>THÔNG TIN ĐƠN NGHỈ PHÉP</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 mb-2">
            <input
              class="form-control me-2"
              v-model="query"
              type="search"
              @change="searchInfo"
              placeholder="Nhập để tìm kiếm"
            />
          </div>

          <div class="col-md-3 mb-2">
            <input
              class="form-control me-2"
              v-model="start_date"
              type="date"
              @change="searchInfo"
            />
          </div>
          <div class="col-md-3 mb-2">
            <input
              class="form-control me-2"
              v-model="end_date"
              type="date"
              @change="searchInfo"
            />
          </div>
          <div class="col-md-3 mb-2">
            <select
              class="form-control me-2"
              v-model="status"
              @change="searchInfo"
            >
              <option>-- Chọn 1 option --</option>
              <option value="1">Chấp thuận</option>
              <option value="2">Từ chối</option>
              <option value="3">Đang chờ</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col" class="text-start">Người tạo</th>
              <th scope="col" class="text-start">Loại</th>
              <th scope="col" class="text-start">Lý do</th>
              <th scope="col">Ngày bắt đầu</th>
              <th scope="col">Ngày kết thúc</th>
              <th scope="col">Thời gian nghỉ(giờ)</th>
              <th scope="col">Trạng thái</th>
              <th scope="col" class="text-start">Lý do từ chối</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="leave in leaves">
              <th scope="row">{{ leave.id }}</th>
              <th scope="row" class="text-start">
                {{ leave.employees ? leave.employees.name : "Unknown" }}
              </th>
              <td class="text-start">{{ getType(leave.type) }}</td>
              <td class="text-start">{{ leave.reason }}</td>
              <td>{{ leave.start_date }}</td>
              <td>{{ leave.end_date }}</td>
              <td>{{ leave.estimate }}</td>
              <td>
                <div
                  class="alert"
                  :class="{
                    'alert-warning': leave.status == 3,
                    'alert-success': leave.status == 1,
                    'alert-danger': leave.status == 2,
                  }"
                  role="alert"
                >
                  {{ getStatusName(leave.status) }}
                </div>
              </td>
              <td class="text-start">{{ leave.comment }}</td>
              <td>
                <div v-if="leave.status == 3">
                  <button
                    class="btn btn-sm btn-success mb-2 me-1 mw-65"
                    @click="approveLeave(leave.id, leave.employee_id)"
                    v-if="roles.roles == 2 || roles.roles == 3"
                  >
                    Duyệt
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-warning mb-2 me-1"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    v-if="roles.roles == 2 || roles.roles == 3"
                    @click="openModal(leave)"
                  >
                    Từ chối
                  </button>
                  <router-link
                    :to="{ name: 'edit-application', params: { id: leave.id } }"
                    v-if="
                      roles.roles == 2 ||
                      this.roles.roles == 3 ||
                      leave.employee_id == this.user_id
                    "
                  >
                    <button class="btn btn-sm btn-primary mb-2 me-1">
                      Sửa
                    </button>
                  </router-link>
                  <button
                    class="btn btn-sm btn-danger mb-2 me-1"
                    @click="confirmDelete(leave.id)"
                    v-if="
                      this.roles.roles == 2 ||
                      this.roles.roles == 3 ||
                      leave.employee_id == this.user_id
                    "
                  >
                    Xoá
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Từ chối đơn</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label class="col-form-label">Lý do từ chối:</label>
              <textarea v-model="comment" class="form-control"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="rejectLeave(leave_selected.id, comment)"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Leaves from "../../type/Leaves";
import User from "@/type/User";
import types from "@/leave_types/types";
import { defineComponent, ref } from "vue";
import type { PropType } from "vue";
import axiosClient from "../../axiosClient";

export default defineComponent({
  emits: ["searchInfo", "approveLeave", "rejectLeave", "confirmDelete"],
  props: {
    leaves: {
      required: true,
      type: Object as PropType<Leaves[]>,
    },
    roles: {
      type: Object,
      required: true,
    },
  },
  setup(props, context) {
    const query = ref("");
    const start_date = ref("");
    const end_date = ref("");
    const status = ref("");
    const user_id = ref("");
    const comment = ref("");
    const showModal = ref(false);
    const leave_selected = ref(null);
    /**
     * approve & update status leave
     * @param id
     * @param employee_id
     */
    const approveLeave = (id: number, employee_id: number) => {
      context.emit("approveLeave", id, employee_id);
    };

    /**
     * reject & update status leave
     * @param  id
     */
    /**
     * reject & update status leave
     * @param  id
     */
    const rejectLeave = (id: number, comment: String) => {
      axiosClient
        .put(
          "/leaves/" + id,
          { status: 2, comment },
          {
            headers: {
              Authorization: "Bearer " + localStorage.getItem("token"),
            },
          }
        )
        .then(() => {
          showModal.value = false;
          searchInfo();
          // Thực hiện các hành động cần thiết sau khi từ chối đơn nghỉ phép, ví dụ như cập nhật danh sách đơn nghỉ phép
        })
        .catch((error) => {
          console.log(error);
        });
    };
    /**
     * get name of type
     * @param id
     */
    const getType = (id: number) => {
      const name = types.find((data) => data.id == id);
      return name ? name.name : "";
    };
    /**
     * check status of leave
     * @param status
     * @returns string
     */
    const getStatusName = (status: number) => {
      if (status == 1) {
        return "Chấp thuận";
      } else if (status == 2) {
        return "Từ chối";
      } else return "Đang chờ";
    };

    /**
     * get info current user
     */
    const getCurrentUser = async () => {
      try {
        const response = await axiosClient.get("/profile", {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        });
        user_id.value = response.data.id;
      } catch (error) {
        console.log(error);
      }
    };

    /**
     * Search
     * @returns string
     */

    const searchInfo = () => {
      context.emit(
        "searchInfo",
        query.value,
        start_date.value,
        end_date.value,
        status.value
      );
    };
    /**
     * open Modal
     * @param leave
     */
    const openModal = (leave) => {
      leave_selected.value = leave;
      showModal.value = true;
    };
    /**
     * confirm before delete Leave
     * @param id 
     */
     const confirmDelete=(id:Number)=>{
      context.emit('confirmDelete',id);
      searchInfo
    }

    return {
      getType,
      getStatusName,
      searchInfo,
      query,
      start_date,
      end_date,
      status,
      approveLeave,
      rejectLeave,
      getCurrentUser,
      openModal,
      leave_selected,
      showModal,
      comment,
      confirmDelete
    };
  },
});
</script>

<style></style>
