<template>
 <AccountInfo @submit="submit"/>
  </template>
  
  <script lang="ts">

  import axiosClient from "../../../axiosClient";
  import { defineComponent, ref ,onMounted} from 'vue';

import AccountInfo from "../../../components/Account/AccountInfo.vue";
  export default defineComponent({
    name: "InfoAccount",
    components:{AccountInfo},
    props: ['user'],
  setup(props) {
    const submit = async (user) => {
      try {
        await axiosClient.post("/change", user, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          }
        });
        router.push('/');
      } catch (err) {
        console.log(err);
      }
    };

    return {
      submit,
    };
  },
  })
  </script>