<template>
  <AccountApplicationInfo :leaves="leaves" />
</template>

<script>
import AccountApplicationInfo from "../../../components/Account/AccountApplicationInfo.vue";
import { defineComponent, ref, onMounted } from "vue";
import axiosClient from "@/axiosClient";

export default defineComponent({
  name: "ListApplicationUser",
  components: { AccountApplicationInfo },
  setup() {
    const user_id = ref("");
    const user_name = ref("");
    const leaves = ref("");
     /**
     * getLeavesByUserId
     * return 
     */
    const getLeavesByUserId = async () => {
      try {
        const response = await axiosClient.get(`/by-user-id`, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        });
        console.log(response.data.leaves);
        leaves.value = response.data.leaves;
      } catch (error) {
        console.error(error);
      }
    };

    onMounted(() => {
      // Gọi hàm getLeavesByUserId khi component được tạo ra
      getLeavesByUserId();
    });
    return {
      user_id,
      user_name,
      leaves,
      getLeavesByUserId,
    };
  },
});
</script>

<style></style>
