<template>
  <!-- Section: Block Form -->
  <section
    class="text-center d-flex align-items-center justify-content-center height-80"
  >
    <div class="card mx-4 mx-md-5">
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <h2 class="fw-bold mb-5">Đăng Nhập</h2>
          <Form @submit="handleLogin">
            <div class="form-outline mb-4 form-group">
              <Field
                type="email"
                name="email"
                v-model="email"
                placeholder="Email"
                class="form-control"
                :rules="validateInput"
              />
              <ErrorMessage name="email" class="danger text-danger" />
            </div>
            {{ email }}
            <div class="form-outline mb-4 form-group">
              <Field
                type="password"
                name="password"
                v-model="password"
                placeholder="Password"
                class="form-control"
                :rules="validateInput"
              />
              <ErrorMessage name="password" class="danger text-danger" />
            </div>
            <button type="submit" class="btn btn-primary mb-4">
              Đăng Nhập
            </button>
          </Form>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Block Form -->
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import axiosClient from "@/axiosClient";
import { Field, Form, ErrorMessage } from "vee-validate";
import validateMixin from "@/mixins/validateMixin.ts";
import Auth from "@/types/Auth.ts";
import router from "@/router"; // import router object from vue-router
export default defineComponent({
  name: "Login",
  components: { Field, Form, ErrorMessage },
  mixins: [validateMixin],
  setup() {
    const email = ref("");
    const password = ref("");

    const handleLogin = async () => {
      try {
        const response = await axiosClient.post<Auth[]>("/login", {
          email: email.value,
          password: password.value,
        });
        localStorage.setItem("token", response.data.user_data);
        router.push("/");
      } catch (error) {
        console.error(error);
      }
    };

    return {
      email,
      password,
      handleLogin,
    };
  },
});
</script>
