<template>
  <AdminUserTable @searchUser="searchUser" :users="users" @confirmDelete="confirmDelete"/>
</template>

<script lang="ts">
import AdminUserTable from "../../../components/Admin/AdminUserTable.vue";
import axiosClient from "../../../axiosClient";
import { defineComponent, ref ,onMounted} from 'vue';
export default defineComponent({
name: 'UserManage',
components: {
  AdminUserTable
},
setup(){
  const query = ref('');
  const users=ref(['']);
  const token = ref(localStorage.getItem('token'));

  /***
   * search user by name
   * @param query
   */
   const searchUser= async (query='') => {
      try {
        const response= await axiosClient.get(`/get-users?name=${query}`, {
          headers: {
            Authorization: 'Bearer ' + token.value
          }
        });
        users.value = response.data;
      } catch (error) {
        console.error(error);
      }
    };
  /**
   * confirm before delete Leave
   * @param id
   */
 const  confirmDelete=(id:number)=>{
    if (confirm('Bạn có chắc chắn muốn xoá không?')) {
      deleteUser(id)
    }
  }

  /**
   * call api to delete user
   * @param id
   * @returns mixed
   */
 const deleteUser=(id:number)=>{
    axiosClient.delete('/delete/' + id, {
      headers: {
        Authorization: 'Bearer ' + localStorage.getItem('token')
      }
    })
        .then(() => searchUser())
        .catch((err) => console.log(err))
  };
  
  
  onMounted(() => {
    searchUser()
      
    });
  return {
    searchUser,
     confirmDelete,
      deleteUser,
      users
    };
},
})
</script>