<template>
  <div class="container-fluid mt-5">
    <div class="row g-3">
      <div class="col-md-3 col-sm-12">
        <div class="card text-bg-danger h-150">
          <img src="" class="card-img" alt="">
          <div class="card-body card-img-overlay">
            <h5 class="card-title">Số đơn chưa duyệt</h5>
            <p class="card-text">
            <h3>{{ this.pending }}</h3>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card text-bg-success h-150">
          <img src="" class="card-img" alt="">
          <div class="card-body card-img-overlay">
            <h5 class="card-title">Số đơn đã duyệt</h5>
            <p class="card-text">
            <h3>{{ this.approve }}</h3>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card text-bg-primary h-150">
          <img src="" class="card-img" alt="">
          <div class="card-body card-img-overlay">
            <h5 class="card-title">Số đơn đã huỷ</h5>
            <p class="card-text">
            <h3>{{ this.reject }}</h3>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="card text-bg-warning h-150">
          <img src="" class="card-img" alt="">
          <div class="card-body card-img-overlay">
            <h5 class="card-title">Nhân viên nghỉ nhiều</h5>
            <p class="card-text">
            <h3>{{ this.badUser }}</h3>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import axiosClient from '../axiosClient.js';
import { defineComponent, ref ,onMounted } from 'vue';

interface Leave {
  status: number;
}

interface User {
  name: string;
  total_time: number;
}
export default defineComponent({
  name: "Dashboard",
  setup() {
    const pending = ref(0);
    const approve = ref(0);
    const reject = ref(0);
    const badUser = ref<string | null>(null);
    const leaves = ref<Leave[]>([]);

    const displayLeaves = () => {
      axiosClient
        .get("/leaves", {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((res) => {
          leaves.value = res.data;
          pending.value = leaves.value.filter((leave) => leave.status == 3)
            .length;
          reject.value = leaves.value.filter((leave) => leave.status == 2)
            .length;
          approve.value = leaves.value.filter((leave) => leave.status == 1)
            .length;
        });
    };

    const displayBadUser = () => {
      axiosClient
        .get("get-users", {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((res) => {
          badUser.value = res.data.reduce(
            (prev, current) => (prev.total_time > current.total_time ? prev : current),
            {}
          ).name;
        });
    };

    onMounted(() => {
      displayLeaves();
      displayBadUser();
    });

    return {
      pending,
      approve,
      reject,
      badUser,
    };
  },
});
</script>