<template>
  <ApplicationCreateEdit
    :form="form"
    :isInsert="isInsertUpdate()"
    @update="updateItem"
    :roles="roles"
  >
    <h5>Sửa đơn xin nghỉ phép</h5>
  </ApplicationCreateEdit>
</template>

<script lang="ts">
import ApplicationCreateEdit from "../../../components/Application/ApplicationCreateEdit.vue";
import axiosClient from "../../../axiosClient";
import isInsertUpdateMixin from "../../../mixins/isInsertUpdateMixin";
import { defineComponent, ref, onMounted } from "vue";
import { useRoute } from "vue-router";
import router from "@/router"; // import router object from vue-router

export default defineComponent({
  name: "EditApplication",
  components: { ApplicationCreateEdit },
  mixins: [isInsertUpdateMixin],
  setup() {
    const form = ref({});
    const token = localStorage.getItem("token");
    const roles = ref("");
    const route = useRoute();

    const isInsertUpdate = () => {
      if (route.params.id) {
        return false;
      } else {
        return true;
      }
    };
    /**
     * call api to get leaves data
     * @param id
     * @returns mixed
     */
    const getDataLeave = (id: number) => {
      axiosClient
        .get(`/leaves/${id}`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then((res) => {
          form.value = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    };
    /**
     * call api to update leave form
     * @returns mixed
     */
    const updateItem = () => {
      axiosClient
        .put(`/leaves/${route.params.id}`, form.value, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then(() => {
          router.push("/list");
        })
        .catch((error) => {
          console.log(error);
        });
    };
    /**
     * get logged in user information
     * @returns mixed
     */
    const getUser = () => {
      axiosClient
        .get("/profile", {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then((res) => {
          roles.value = res.data.roles;
        })
        .catch((error) => {
          console.log(error);
        });
    };

    onMounted(() => {
      getDataLeave(route.params.id);
      getUser();
    });

    return {
      form,
      isInsertUpdate,
      updateItem,
      roles,
    };
  },
});
</script>
