<template>
  <ApplicationList
    @approveLeave="approveLeave"
    :leaves="leaves"
    :roles="roles"
    @searchInfo="listBlog"
    @confirmDelete="confirmDelete"
  />
</template>

<script lang="ts">
import ApplicationList from "@/components/Application/ApplicationList.vue";
import { defineComponent, ref, onMounted } from "vue";
import axiosClient from "@/axiosClient";
import Leaves from "../../../type/Leaves";
import User from "@/type/User";
import { emit } from "process";
export default defineComponent({
  name: "ListApplication",
  components: { ApplicationList },
  setup() {
    const leaves = ref([""]);
    const token = ref(localStorage.getItem("token"));
    const roles = ref("");
    const showModal = ref(false);
    const comment = ref();
    // Lấy danh sách các bài viết
    const listBlog = async (
      query = "",
      start_date = "",
      end_date = "",
      status = ""
    ) => {
      try {
        const response = await axiosClient.get<Leaves[]>(
          `/leaves?param=${query}&start_date=${start_date}&end_date=${end_date}&status=${status}`,
          {
            headers: {
              Authorization: "Bearer " + token.value,
            },
          }
        );
        leaves.value = response.data.data;
      } catch (error) {
        console.error(error);
      }
    };
    /**
     * confirm before delete Leave
     * @param id
     */
    const confirmDelete = (id: number) => {
      if (confirm("Bạn có chắc chắn muốn xoá không?")) {
        deleteItem(id);
        listBlog;
      }
    };
    const deleteItem = (id: number) => {
      axiosClient
        .delete<Leaves[]>("/leaves/" + id, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then(() => {
          listBlog;
        })
        .catch((error) => {
          console.log(error);
        });
    };
    /***
     * @param number employee
     * call api to approveLeave
     * return data
     */
    const approveLeave = (id: number, employee_id: number) => {
      axiosClient
        .put(
          "/leaves/" + id,
          { status: 1, employee_id: employee_id },
          {
            headers: {
              Authorization: "Bearer " + localStorage.getItem("token"),
            },
          }
        )
        .then(() => {
          listBlog();
        })
        .catch((err) => console.log(err));
    };

    /***
     * call api to get current role user
     */
    const getCurrentRole = async () => {
      try {
        const response = await axiosClient.get(`/profile`, {
          headers: {
            Authorization: "Bearer " + token.value,
          },
        });
        roles.value = response.data;
        console.log(response.data.roles);
      } catch (error) {
        console.error(error);
      }
    };
    onMounted(() => {
      listBlog();
      getCurrentRole();
    });

    return {
      listBlog,
      leaves,
      confirmDelete,
      deleteItem,
      getCurrentRole,
      approveLeave,
      roles,
      comment,
      showModal,
    };
  },
});
</script>

<style></style>
