<template>
  <ApplicationCreateEdit
    :form="form"
    :isInsert="isInsertUpdate"
    @insert="insertForm"
  >
    <h5>Thêm mới đơn xin nghỉ phép</h5>
  </ApplicationCreateEdit>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import ApplicationCreateEdit from "../../../components/Application/ApplicationCreateEdit.vue";
import axiosClient from "../../../axiosClient";
import isInsertUpdateMixin from "../../../mixins/isInsertUpdateMixin";
import router from "@/router"; // import router object from vue-router

export default defineComponent({
  name: "CreateApplication",
  components: { ApplicationCreateEdit },
  mixins: [isInsertUpdateMixin],
  setup() {
    const form = ref({
      type: null,
      reason: null,
      start_date: null,
      end_date: null,
      employee_id: null,
      employee: null,
    });

    const token = localStorage.getItem("token");
    /**
     * get logged in user information
     * @returns mixed
     */
    const getUser = () => {
      axiosClient
        .get("/profile", {
          headers: {
            Authorization: "Bearer " + token,
          },
        })
        .then((res) => {
          form.value.employee = res.data.name;
          form.value.employee_id = res.data.id;
        });
    };
    /**
     * call api to insert leave form
     * @returns mixed
     */
    const insertForm = () => {
      axiosClient
        .post("/leaves", form.value, {
          headers: {
            Authorization: "Bearer " + token,
          },
        })
        .then(() => {
          router.push("/list");
        })
        .catch((error) => {
          console.log(error);
        });
    };

    onMounted(() => {
      getUser();
    });

    return {
      form,
      token,
      getUser,
      insertForm,
    };
  },
});
</script>
