<template>
  <div class="col-md-8 col-sm-12 p-0 mt-4 my-3 mx-4 mx-auto">
    <div class="card mx-2">
      <div class="card-header">
        <h4>THÔNG TIN TÀI KHOẢN</h4>
      </div>
      <div class="card-body p-0">
        <div class="mx-4 my-2">
          <Form>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Tên nhân viên:</label>
              <div class="col-sm-10">
                <Field
                  name="name"
                  type="text"
                  v-model="name"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Email:</label>
              <div class="col-sm-10">
                <Field
                  name="email"
                  type="text"
                  v-model="email"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Mật khẩu cũ:</label>
              <div class="col-sm-10">
                <Field
                  name="oldPassword"
                  type="password"
                  v-model="oldPassword"
                  class="form-control"
                  :rules="validateInput"
                />
                <ErrorMessage name="oldPassword" class="danger text-danger" />
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Mật khẩu mới:</label>
              <div class="col-sm-10">
                <Field
                  name="password"
                  type="password"
                  v-model="password"
                  class="form-control"
                  :rules="validateInput"
                />
                <ErrorMessage name="password" class="danger text-danger" />
              </div>
            </div>
            <button
              class="btn btn-success mb-3"
              type="button"
              @click="changePassword"
            >
              Submit
            </button>
          </Form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Field, Form, ErrorMessage } from "vee-validate";
import axiosClient from "../../axiosClient";
import { defineComponent, ref, onMounted, Ref } from "vue";
import User from "../../type/User";
import router  from '@/router'; // import router object from vue-router
interface User {
  name: string;
  email: string;
}
export default defineComponent({
  components: { Field, Form, ErrorMessage },

  setup() {
    const name: Ref<string> = ref("");
    const email: Ref<string> = ref("");
    const password: Ref<string> = ref("");
    const oldPassword: Ref<string> = ref("");
      
    const getUser = async () => {
      try {
        const response = await axiosClient.get<User[]>("/profile", {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        });
        name.value = response.data.name;
        email.value = response.data.email;
      } catch (error) {
        console.error(error);
      }
    };
     /***
     * 
     * change password
     * return 
     */
    const changePassword = async () => {
      try {
        const response = await axiosClient.post<User>("/change",  { password: password.value,
          oldPassword: oldPassword.value},{
          headers: {
            Authorization: "Bearer" + localStorage.getItem("token")
          },
        
        });router.push('/');
      } catch (error) {
        console.error(error);
      }
    };

    // Gọi hàm getUser khi component được tạo ra
    onMounted(() => {
      getUser();
      
    });
    return {
      name,
      email,
      getUser,
      password,
      oldPassword,
      changePassword,
    };
  },
});
</script>
