<script lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import { defineComponent,ref ,onMounted} from 'vue';
import AppHeader from './components/AppHeader.vue';
import AppFooter from './components/AppFooter.vue';
export default defineComponent({
    components: { AppHeader,AppFooter},
    
});
</script>

<template>
  

 <AppHeader/>
 <router-view></router-view>
        
 <AppFooter/>
</template>

