<template>
  <div class="my-3 mx-4">
    <div class="card text-center">
      <div class="card-header">
        <h4>THÔNG TIN NHÂN VIÊN</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-2">
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                v-model="query"
                type="search"
                placeholder="Nhập tên để tìm kiếm"
                @change="searchUser"
                aria-label="Search"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="card-footer table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên nhân viên</th>
              <th scope="col">Chức vụ</th>
              <th scope="col">Thời gian nghỉ(giờ)</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users">
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.name }}</td>
              <td>{{ convert(user.roles) }}</td>
              <td>{{ user.total_time }}</td>
              <td>
                <router-link
                  v-if="user.id"
                  :to="{ name: 'manage-user-role', params: { id: user.id } }"
                >
                  <button class="btn btn-sm me-2 btn-primary">Sửa</button>
                </router-link>
                <button
                  class="btn btn-sm btn-danger"
                  @click="confirmDelete(user.id)"
                >
                  Xoá
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, onMounted } from "vue";
import type { PropType } from "vue";
import Leaves from "../../type/Leaves";
export default defineComponent({
  name: "EmployeeTable",
  props: {
    users: {
      required: true,
      type: Object,
    },
  },
  setup(props, context) {
    const query = ref("");

    /**
     * convert index role into string role
     * @param role
     * @returns string
     */
    const convert = (role: string) => {
      if (role == "1") {
        return "Nhân viên";
      } else if (role == "2") {
        return "Quản lý";
      }
    };

    /**
     * call emits to search users
     * @params query
     * @returns array
     */
    const searchUser = () => {
      context.emit("searchUser", query.value);
    };

    /**
     * confirm before delete Leave
     * @param id
     */
    const confirmDelete = (id: number) => {
      context.emit("confirmDelete", id);
    };

    onMounted(() => {
      searchUser();
    });

    return {
      query,
      convert,
      confirmDelete,
      searchUser,
    };
  },
});
</script>
