<template>
  <div class="col-md-8 col-sm-12 p-0 mt-4 my-3 mx-4 mx-auto">
    <div class="card mx-2">
      <div class="card-header">
        <h4>Thay đổi phân quyền</h4>
      </div>
      <div class="card-body p-0">
        <div class="mx-4 my-2">
          <Form>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Tên nhân viên:</label>
              <div class="col-sm-10">
                <Field
                  name="name"
                  type="text"
                  v-model="user.name"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Email:</label>
              <div class="col-sm-10">
                <Field
                  name="email"
                  type="text"
                  v-model="user.email"
                  class="form-control"
                  disabled
                />
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Phân quyền:</label>
              <div class="col-sm-10">
                <Field
                  name="roles"
                  as="select"
                  v-model="user.roles"
                  class="form-control"
                >
                  <option value="1">Nhân viên</option>
                  <option value="2">Quản lý</option>
                </Field>
              </div>
            </div>
            <button
              class="btn btn-success mb-3"
              type="button"
              @click="submit(user.id)"
            >
              Submit
            </button>
          </Form>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import router from "@/router"; // import router object from vue-router

import { defineComponent, ref, onMounted, getCurrentInstance } from "vue";
import axiosClient from "@/axiosClient";
import { Route } from "vue-router";
import { useRoute } from "vue-router";
import { Field, Form, ErrorMessage } from "vee-validate";
import validateMixin from "@/mixins/validateMixin.ts";
export default defineComponent({
  name: "AdminRoles",
  components: {
    Field,
    Form,
    ErrorMessage,
  },
  setup() {
    const route = useRoute();
    const id = ref(route.params.id);
    const user = ref({
      name: "",
      email: "",
      start_date: "",
      roles: "",
    });
    /**
     * get user info
     */
    const getUser = () => {
      axiosClient
        .get(`/show/${id.value}`, {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        })
        .then((res) => {
          user.value = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    };
    /**
     * submit to update role user
     * @param id
     */
    const submit = (id: number) => {
      axiosClient
        .put("/update/" + id, user.value, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((res) => router.push("/manage"))
        .catch((error) => console.log(error));
    };

    onMounted(() => {
      getUser();
    });

    return {
      id,
      user,
      getUser,
      submit,
    };
  },
});
</script>
