<template>
    <footer class="footer d-flex align-items-center justify-content-center">
      <span class="text-white">Copyright©2021</span> <router-link to="#" class="alert-link">DevFast</router-link>
    </footer>
  </template>
  
  